/*Base Styles*/

body {
	background-color: #DDD;
}

/*Navbar*/

.navigation {
	margin-bottom: 0;
}

.navigation h1 {
	background-color: #4aaaa5;
	padding: 14px 16px;
	font-size: 40px;
}

/*About me*/

.profile-img {
	margin-right: 3%;
}

.about-me {
	margin-top: 3%;
	background-color: #fff;
}

.about-me h2 {
	color: #4aaaa5;
	font-size: 40px;
}

.about-me p {
	margin: 0 5% 0 0;
	font-size: 20px;
}

.c-about-me p {
	font-size: 15px;
	padding: 5px 5px 5px 5px;
	margin: 10px 25px 10px 25px;
	color: #ccc;
	border: solid #ccc 2px;
}

.c-about-me h3 {
	font-size: 20px;
	margin: 0 0 0 25px;
}

.c-about-me .submit {
	display: block;
	font-size: 20px;
	margin: 20px 400px 20px 25px;
	background-color: #4aaaa5;
	color: #fff;
}

.c-about-me .submit {
	padding: 7px 15px 7px 25px;
}

/*Connect*/

.connect {
	background-color: #fff;
	margin-top: 3%;
}

.connect li {
	list-style-type: none;
}

.connect h3 {
	color: #4aaaa5;
	font-size: 30px;
}

.connect-logo {
	width: 50px;
	height: 50px;
} 


.project-1, .project-2, .project-3, .project-4, .project-5 {
	width: 250px;
	height: 220px;
	float: left;
	margin: 10px 0px 10px 20px;
}

.project-1 {
	background-image: url("https://static.pexels.com/photos/114907/pexels-photo-114907.jpeg");
	background-size: cover;
}

.project-1 p {
	color: #fff;
	font-size: 18px;
	text-align: center;
	margin-top: 170px;
	background-color: #4aaaa5;
	padding: 10px;
}

.project-2 {
	background-image: url("https://static.pexels.com/photos/262508/pexels-photo-262508.jpeg");
	background-size: cover;
}

.project-2 p {
	color: #fff;
	font-size: 18px;
	text-align: center;
	margin-top: 170px;
	background-color: #4aaaa5;
	padding: 10px;
}

.project-3 {
	background-image: url("https://static.pexels.com/photos/230544/pexels-photo-230544.jpeg");
	background-size: cover;
}

.project-3 p {
	color: #fff;
	font-size: 18px;
	text-align: center;
	margin-top: 170px;
	background-color: #4aaaa5;
	padding: 10px;
}

.project-4 {
	background-image: url("https://static.pexels.com/photos/192273/pexels-photo-192273.jpeg");
	background-size: cover;
}

.project-4 p {
	color: #fff;
	font-size: 18px;
	text-align: center;
	margin-top: 170px;
	background-color: #4aaaa5;
	padding: 10px;
}

.project-5 {
	background-image: url("https://static.pexels.com/photos/262569/pexels-photo-262569.jpeg");
	background-size: cover;
}

.project-5 p {
	color: #fff;
	font-size: 18px;
	text-align: center;
	margin-top: 170px;
	background-color: #4aaaa5;
	padding: 10px;
}

/*Footer*/

#footer {
	margin-top: 20%;
	left: 0;
	bottom: 0;
	width: 100%;
	position: relative;
	clear: both;
	background-color: #666;
	border-top: solid 10px #4aaaa5;
	padding-bottom: 20px;
}

#footer p {
		margin: 20px 0;
		font-size: 15px;
	}

/*Media Querys*/

@media only screen and (min-width: 576px) {
	/*For Tablets*/
	.profile-img {
		width: 180px;
		height: 180px;
		float: left;
	}
}

@media only screen and (min-width: 768px) {
	/*For laptops and desktops*/
	.profile-img {
		width: 200px;
		height: 200px;
		float: left;
	}

}

@media only screen and (min-width: 1024px) {
	/*large screeens*/
	.profile-img {
		width: 250px;
		height: 250px;
		float: left;
	}

}